* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    height: 90vh;
    display: flex;
}

.quotes {
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gray;
    background-color: #fff;
    animation: changecolor 5s infinite alternate;
}

.quotes p,
.quotes h3 {
    font-size: 1.5rem;
}

@keyframes changecolor{
    0%{
        border: 2px solid indigo;
    }
    20%{
        border: 4px solid blue;
    }
    40%{
        border: 6px solid green;
    }
    60%{
        border: 8px solid yellow;
    }
    80%{
        border: 10px solid orange;
    }
    100%{
        border: 12px solid red;
    }
}


@media(max-width: 480px) {
    .quotes p,
    .quotes h3 {
        font-size: 1rem;
    }
}

.button {
    text-align: center;
}